
WPT/Winding_Design/2p-4s/2p-4s-bended.aedtresults/

IMMD/Multi-module/Parallel/slprj/

IMMD/Multi-module/Series/slprj/

WPT/LTspice/2p4s_makale modelleri/.log

WPT/LTspice/2p4s_makale modelleri/.op.raw

WPT/LTspice/2p4s_makale modelleri/.raw

*.log

*.raw

IMMD/Switching_Function/slprj/

WPT/LTspice/2p4s_makale modelleri/Series-Paralel/slprj/

*.net

*.plt

IMMD/Switching_Function/New Folder/analytically_leg_current.mat

IMMD/Final-Parasitic-Switching-Function/Parasitic/CapParasitic.mat

WPT/Series-Parallel/Tx-Rx/.raw
WPT/Series-Parallel/Tx-Rx/.opt.raw
WPT/Series-Parallel/Tx-Rx/.log

WPT/Series-Parallel/Tx-Rx/journal_gain_plot/Third_Section/ltspice/.raw
WPT/Series-Parallel/Tx-Rx/journal_gain_plot/Third_Section/ltspice/.opt.raw
WPT/Series-Parallel/Tx-Rx/journal_gain_plot/Third_Section/ltspice/.log


IMMD/Final-Parasitic-Switching-Function/Parasitic/capWihoutParasitic.mat

IMMD/Final-Parasitic-Switching-Function/Leg_current/slprj/

WPT/DSP/Led_Blink_PWM/.jxbrowser-data/

WPT/DSP/Led_Blink_PWM/.metadata/

WPT/DSP/Led_Blink_PWM/RemoteSystemsTempFiles/

WPT/DSP/Led_Blink_PWM/ornek_proje/.launches/

WPT/DSP/Led_Blink_PWM/ornek_proje/.settings/

WPT/DSP/Led_Blink_PWM/ornek_proje/Debug/

WPT/DSP/Led_Blink_PWM/ornek_proje/sources/

WPT/DSP/Led_Blink_PWM/ornek_proje/.ccsproject

WPT/DSP/Led_Blink_PWM/ornek_proje/.cproject

WPT/DSP/Led_Blink_PWM/ornek_proje/.project

WPT/DSP/Led_Blink_PWM/ornek_proje/2837xD_FLASH_lnk_cpu1.cmd

WPT/DSP/Led_Blink_PWM/ornek_proje/F2837xD_Headers_nonBIOS_cpu1.cmd

WPT/DSP/Led_Blink_PWM/ornek_proje/ornek_targetconf.ccxml

TI/

WPT/Testler/Makale_2/Experiment/

WPT/DSP/SCI_denemeleri/.jxbrowser-data/

WPT/DSP/SCI_denemeleri/.metadata/

WPT/DSP/SCI_denemeleri/RemoteSystemsTempFiles/

WPT/DSP/SCI_denemeleri/ornek_proje/sources/

WPT/DSP/SCI_denemeleri/ornek_proje/Debug/

WPT/DSP/SCI_denemeleri/ornek_proje/.settings/

WPT/DSP/SCI_denemeleri/ornek_proje/.launches/

WPT/DSP/SCI_denemeleri/ornek_proje/.cproject

WPT/DSP/SCI_denemeleri/ornek_proje/.ccsproject

WPT/DSP/SCI_denemeleri/ornek_proje/.project

*.cmd

*.ccxml

WPT/DSP/SPI_denemeleri/.jxbrowser-data/

WPT/DSP/SPI_denemeleri/.metadata/

WPT/DSP/SPI_denemeleri/RemoteSystemsTempFiles/

WPT/DSP/SPI_denemeleri/ornek_proje/.launches/

WPT/DSP/SPI_denemeleri/ornek_proje/.settings/

WPT/DSP/SPI_denemeleri/ornek_proje/Debug/

WPT/DSP/SPI_denemeleri/ornek_proje/sources/

WPT/DSP/SPI_denemeleri/ornek_proje/.ccsproject

WPT/DSP/SPI_denemeleri/ornek_proje/.cproject

WPT/DSP/SPI_denemeleri/ornek_proje/.project

WPT/Winding_Design/Eddy_current_solution/eddy_current.aedtresults/

WPT/Winding_Design/Three-Coil/2p-4s-bended.aedtresults/

WPT/PFC/Matlab/ACtoDC_WPT_Voltage_grt_rtw/

*.autosave

WPT/PFC/Matlab/slprj/

WPT/PFC/Matlab/ACtoDC_WPT.slxc

WPT/PFC/Matlab/ACtoDC_WPT_Voltage.exe

WPT/Winding_Design/PCB/2p-4s-bended.aedtresults/

WPT/PFC/Matlab/Design_Code/slprj/

WPT/Motor-Power-Transfer/RL-inverter/slprj/

WPT/2p-4s journal/Testler/06.11.2020/Fault/envelope/raw_data.mat

WPT/2p-4s journal/Testler/06.11.2020/tx no fault vin50 vout50 f157khz zoom270derece/raw_data.mat

WPT/2p-4s journal/Testler/27.10.2020/raw_data.mat

WPT/Winding_Design/3-coil-resonator-only/Resonator.aedtresults/

WPT/Motor-Power-Transfer/Winding_Design/first_draft.aedtresults/

WPT/Motor-Power-Transfer/Winding_Design/Winding_trials.aedtresults/

WPT/Motor-Power-Transfer/Winding_Design/z_symetric.aedtresults/

WPT/Winding_Design/Constan_mutual_deneme.aedtresults/

*.mat

WPT/Series-Parallel/Tx-Rx/journal_gain_plot/Third_Section/ltspice/results/series compensation/series-compensation-series_Tx-Rx_aligned

WPT/Series-Parallel/Tx-Rx/journal_gain_plot/Third_Section/ltspice/results/series compensation/series-compensation-series_Tx-Rx_misaligned

WPT/Series-Parallel/Tx-Rx/journal_gain_plot/Third_Section/ltspice/results/series compensation/spice_result.asv

*.txt

WPT/Series-Parallel/Tx-Rx/journal_gain_plot/Third_Section/ltspice/series-compensation-series_Tx-Rx_aligned

WPT/Series-Parallel/Tx-Rx/journal_gain_plot/Third_Section/ltspice/results/series compensation/series-compensation-paralellll_Tx-Rx_misaligned

WPT/Series-Parallel/Tx-Rx/journal_gain_plot/Third_Section/ltspice/results/series compensation/series-compensation-paralellll_Tx-Rx_aligned

WPT/Series-Parallel/Tx-Rx/journal_gain_plot/Third_Section/ltspice/series-compensation-series_Tx-Rx_misaligned

WPT/Motor-Power-Transfer/DC-Bus-Investigation/slprj/
WPT/DSP/

WPT/Winding_Design/3-coil-primary/With_Primary.aedtresults/
